<div class="buttons-container">
    <button [onFocus] tabindex="0" [routerLink]="['/select-game']">{{ 'PAGES.DASHBOARD.PLAY' | translate }}</button>
    <button [onFocus] tabindex="1" [routerLink]="['/profile']">{{ 'PAGES.DASHBOARD.PROFILE' | translate }}</button>
    <button [onFocus] tabindex="2" [routerLink]="['/match-history']">{{ 'PAGES.DASHBOARD.MATCHHISTORY' | translate }}</button>
    <button [onFocus] tabindex="3" [routerLink]="['/team-manager']">{{ 'PAGES.DASHBOARD.TEAMMANAGER' | translate }}</button>
    <button [onFocus] tabindex="4" (click)="logout()">{{ 'PAGES.DASHBOARD.LOGOUT' | translate }}</button>
</div>

